<!-- <table border="1" class="table">
    <thead>
        <tr>
            <th>Book-Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>
                <img [src]="book.imageUrl" height="100">
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.unitPrice | currency: 'INR'}}</td>
        </tr>
    </tbody>
</table> -->

<div class="row">

    <div class="col-lg-3">

        <app-book-category></app-book-category>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-responsive" [src]="book.imageUrl" height="300"
                            alt="no image found"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{book.name}}</a>
                        </h4>
                        <h5>{{book.unitPrice | currency: 'INR'}}</h5>
                        <p class="card-text text-truncate">{{book.description}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Add Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->